<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="mainWrapper">
        <h2>Messages</h2>
        <div class="msgContainer">
            <div class="btnBar">
                <div class="joinClub">
                    <% if (currentUser) {%>
                        <% if(currentUser.ismember) {%>
                            you're a member
                        <%} else { %>
                            <a href="/adminLogin">Join The Club</a>
                    <%}}%>
                </div>
                <div class="adminLogin"> 
                    <% if (currentUser) {%>
                        <% if(currentUser.isadmin) {%>
                            you are admin
                        <%} else { %>
                            <a href="/adminLogin">Login As Admin</a>
                    <%}}%>
                </div>
                <div class="createMsg"><a href="/createMessage">Create Message</a></div>
            </div>
            <div class="msgs">
                <% messages.forEach((message) => { %>
                <article class="message">
                    <header>
                        <h3><%= message.title %></h3>
                        <p class="meta">
                            by <%= message.username %>
                            on <time datetime="<%= message.created_at.toISOString() %>">
                                    <%= message.created_at.toLocaleString() %>
                                </time>
                        </p>
                    </header>
                    <p class="body"><%= message.body %></p>
                </article>
                <% }) %>
            </div>
        </div>
    </div>
    <%- include('partials/dev-reload') %>
</body>
</html>